<h1>Members</h1>
{{current_username}}

<table border="1">
{% for x in items %}
<tr>
<td>{{ x.id }}</td>    
<td>{{ x.item_name }}</td>
<td>{{ x.highest_bid }}</td>
<td>{{ x.highest_bidder_username }}</td>
<td>
    <form action ="../bidUpdate/" method="post">
        {% csrf_token %}
        <input type="text" name="username" value= '{{ current_username }}' style="display:none;">
        <label for=""> Enter your bid</label>
        <input type="number" id="bid" name="bid" placeholder="Enter Bid">
        <input type="text" id="item_name" name="item_name" value='{{x.item_name}}' style="display:none;">
        <input type="number" id="item_id" name="item_id" value='{{x.id}}' style="display:none;" >
        <input type="submit" value="SEND BID">
      </form>
</td>
</tr>
{% endfor %}
</table>
<form action="../addItem/" method="POST">
    {%csrf_token%}
    <input type="text" name="username" value= '{{ current_username }}' style="display:none;">
    <input type="submit" value="Add Item">
</form>