{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Portal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class = "nav">
        <div class"rightside">
        <ul >
            <li>
            <a href="/" class = "Home">Home</a>
            </li>
            <li>
            <a href="/About">About</a>
            </li>
            <li>
            <a href="/members/crypto">Cryptocurrency prices</a>
            </li>
            <li>
              <a href="/members/adminLogin">Login</a>
            </li>
        </ul>
        </div>
    </nav>
  </header>
    <div class='heading'>
        <div class = "logo">
            <img src="https://cdn-icons-png.flaticon.com/128/6852/6852271.png" alt="oh no">
        </div>
        <p class='heading'>
                Welcome to <br/>Web Auction Portal
        </p>
    </div>
    <div class='homey'>
        <div className="homecontent">
            Lorem ipsum dolor sit amet, Architecto laudantium sapiente labore? Quidem est harum modi incidunt veniam minima inventore accusamus, deleniti commodi facilis reprehenderit numquam fuga. Ducimus accusantium quis eos nemo architecto deserunt est pariatur. Veniam soluta quis magnam est qui id, modi temporibus, nesciunt aut sed laborum dolorum deserunt a officia? Quis commodi ipsum aspernatur vitae sunt tempora sint ratione! Error, adipisci ut? Sed laudantium deleniti neque, magni sapiente reiciendis? Cumque porro alias laboriosam possimus ipsam eveniet non itaque quae unde ut fugiat facilis et pariatur beatae officia doloribus natus iste expedita, obcaecati nemo, ad commodi? Velit voluptatum at doloremque. 
        </div>
        <div class="homeimg">
            <img
                width='100%'
                height='180'
                src='https://img.freepik.com/free-vector/online-auction-landing-page-design_52683-76081.jpg?w=2000'
                alt='why man why?'/>
        </div>
    </div>
    <div id="buttonStart"><Button>
        <b> GET STARTED </b>
    </Button></div>
    <footer>
        <div class="nav" id="ConFoot">
            <ul>
                <li>
                    <a href="/Contact" class = "Contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
